<SystemConfiguration Model="PowerEdge FC430" ServiceTag="2P5N082" TimeStamp="Fri Sep 22 17:57:44 2017">
<!--Export type is Clone-->
<!--Exported configuration may contain commented attributes. Attributes may be commented due to dependency, destructive nature, preserving server identity or for security reasons.-->
<!--Exported configuration does not contain FC-HBA data as the presence of the appropriate cards could not be detected!-->
<Component FQDD="LifecycleController.Embedded.1">
 <Attribute Name="LCAttributes.1#CollectSystemInventoryOnRestart">Enabled</Attribute>
 <Attribute Name="LCAttributes.1#PartConfigurationUpdate">Apply always</Attribute>
 <Attribute Name="LCAttributes.1#PartFirmwareUpdate">Match firmware of replaced part</Attribute>
 <!--  <Attribute Name="LCAttributes.1#LifecycleControllerState">Enabled</Attribute>
-->
 <Attribute Name="LCAttributes.1#IPChangeNotifyPS">Off</Attribute>
 <Attribute Name="LCAttributes.1#VirtualAddressManagement">FlexAddress</Attribute>
 <Attribute Name="LCAttributes.1#VirtualAddressManagementApplication"></Attribute>
 <Attribute Name="LCAttributes.1#ProvisioningServer"></Attribute>
 <Attribute Name="LCAttributes.1#BIOSRTDRequested">False</Attribute>
 <Attribute Name="LCAttributes.1#AutoUpdate">Enabled</Attribute>
 <Attribute Name="LCAttributes.1#AutoBackup">Disabled</Attribute>
</Component>

<Component FQDD="System.Embedded.1">
 <Attribute Name="ThermalConfig.1#CriticalEventGenerationInterval">30</Attribute>
 <Attribute Name="ThermalConfig.1#EventGenerationInterval">30</Attribute>
 <Attribute Name="ThermalSettings.1#ThermalProfile">Default Thermal Profile Settings</Attribute>
 <Attribute Name="ThermalSettings.1#ThirdPartyPCIFanResponse">Enabled</Attribute>
 <Attribute Name="ChassisControl.1#ChassisManagementMonitoring">Enabled</Attribute>
 <Attribute Name="ServerPwr.1#PowerCapSetting">Disabled</Attribute>
  <Attribute Name="ServerPwr.1#PowerCapValue">383</Attribute>
 <!--  <Attribute Name="ServerTopology.1#DataCenterName">NewDC</Attribute>
-->
 <!--  <Attribute Name="ServerTopology.1#AisleName"></Attribute>
-->
 <!--  <Attribute Name="ServerTopology.1#RackName"></Attribute>
-->
 <!--  <Attribute Name="ServerTopology.1#RackSlot">1</Attribute>
-->
 <!--  <Attribute Name="ServerTopology.1#RoomName"></Attribute>
-->
 <!--  <Attribute Name="ServerOS.1#HostName"></Attribute>
-->
 <!--  <Attribute Name="ServerOS.1#OSName"></Attribute>
-->
 <Attribute Name="ChassisPwrState.1#ChassisLEDState">Off</Attribute>
</Component>

<Component FQDD="iDRAC.Embedded.1">
 <Attribute Name="IPMILan.1#Enable">Enabled</Attribute>
 <Attribute Name="IPMILan.1#PrivLimit">Administrator</Attribute>
 <Attribute Name="IPMILan.1#EncryptionKey">0000000000000000000000000000000000000000</Attribute>
 <Attribute Name="IPMILan.1#CommunityName">public</Attribute>
 <Attribute Name="IPMILan.1#AlertEnable">Enabled</Attribute>
 <Attribute Name="Users.2#UserName">root</Attribute>
 <Attribute Name="Users.2#Password">calvin</Attribute>
 <Attribute Name="Users.2#Privilege">511</Attribute>
 <Attribute Name="Users.2#IpmiLanPrivilege">Administrator</Attribute>
 <Attribute Name="Users.2#Enable">Enabled</Attribute>
 <Attribute Name="Users.2#SolEnable">Enabled</Attribute>
 <Attribute Name="Users.2#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.2#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.2#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.3#UserName">vaidees2</Attribute>
 <Attribute Name="Users.3#Password">calvin</Attribute>
 <Attribute Name="Users.3#Privilege">511</Attribute>
 <Attribute Name="Users.3#IpmiLanPrivilege">Administrator</Attribute>
 <Attribute Name="Users.3#Enable">Enabled</Attribute>
 <Attribute Name="Users.3#SolEnable">Enabled</Attribute>
 <Attribute Name="Users.3#ProtocolEnable">Enabled</Attribute>
 <Attribute Name="Users.3#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.3#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.4#UserName">labadmin</Attribute>
 <Attribute Name="Users.4#Password">calvin</Attribute>
 <Attribute Name="Users.4#Privilege">511</Attribute>
 <Attribute Name="Users.4#IpmiLanPrivilege">Administrator</Attribute>
 <Attribute Name="Users.4#Enable">Enabled</Attribute>
 <Attribute Name="Users.4#SolEnable">Enabled</Attribute>
 <Attribute Name="Users.4#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.4#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.4#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.5#UserName">vaidees</Attribute>
 <Attribute Name="Users.5#Password">calvin</Attribute>
 <Attribute Name="Users.5#Privilege">511</Attribute>
 <Attribute Name="Users.5#IpmiLanPrivilege">Administrator</Attribute>
 <Attribute Name="Users.5#Enable">Enabled</Attribute>
 <Attribute Name="Users.5#SolEnable">Enabled</Attribute>
 <Attribute Name="Users.5#ProtocolEnable">Enabled</Attribute>
 <Attribute Name="Users.5#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.5#PrivacyProtocol">DES</Attribute>
 <Attribute Name="Users.6#UserName">vv1</Attribute>
 <Attribute Name="Users.6#Password">calvin</Attribute>
 <Attribute Name="Users.6#Privilege">511</Attribute>
 <Attribute Name="Users.6#IpmiLanPrivilege">Administrator</Attribute>
 <Attribute Name="Users.6#Enable">Enabled</Attribute>
 <Attribute Name="Users.6#SolEnable">Enabled</Attribute>
 <Attribute Name="Users.6#ProtocolEnable">Enabled</Attribute>
 <Attribute Name="Users.6#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.6#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.7#UserName"></Attribute>
 <Attribute Name="Users.7#Password"></Attribute>
 <Attribute Name="Users.7#Privilege">0</Attribute>
 <Attribute Name="Users.7#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.7#Enable">Disabled</Attribute>
 <Attribute Name="Users.7#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.7#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.7#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.7#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.8#UserName"></Attribute>
 <Attribute Name="Users.8#Password"></Attribute>
 <Attribute Name="Users.8#Privilege">0</Attribute>
 <Attribute Name="Users.8#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.8#Enable">Disabled</Attribute>
 <Attribute Name="Users.8#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.8#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.8#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.8#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.9#UserName"></Attribute>
 <Attribute Name="Users.9#Password"></Attribute>
 <Attribute Name="Users.9#Privilege">0</Attribute>
 <Attribute Name="Users.9#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.9#Enable">Disabled</Attribute>
 <Attribute Name="Users.9#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.9#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.9#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.9#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.10#UserName"></Attribute>
 <Attribute Name="Users.10#Password"></Attribute>
 <Attribute Name="Users.10#Privilege">0</Attribute>
 <Attribute Name="Users.10#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.10#Enable">Disabled</Attribute>
 <Attribute Name="Users.10#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.10#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.10#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.10#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.11#UserName"></Attribute>
 <Attribute Name="Users.11#Password"></Attribute>
 <Attribute Name="Users.11#Privilege">0</Attribute>
 <Attribute Name="Users.11#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.11#Enable">Disabled</Attribute>
 <Attribute Name="Users.11#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.11#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.11#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.11#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.12#UserName"></Attribute>
 <Attribute Name="Users.12#Password"></Attribute>
 <Attribute Name="Users.12#Privilege">0</Attribute>
 <Attribute Name="Users.12#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.12#Enable">Disabled</Attribute>
 <Attribute Name="Users.12#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.12#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.12#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.12#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.13#UserName"></Attribute>
 <Attribute Name="Users.13#Password"></Attribute>
 <Attribute Name="Users.13#Privilege">0</Attribute>
 <Attribute Name="Users.13#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.13#Enable">Disabled</Attribute>
 <Attribute Name="Users.13#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.13#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.13#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.13#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.14#UserName"></Attribute>
 <Attribute Name="Users.14#Password"></Attribute>
 <Attribute Name="Users.14#Privilege">0</Attribute>
 <Attribute Name="Users.14#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.14#Enable">Disabled</Attribute>
 <Attribute Name="Users.14#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.14#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.14#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.14#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.15#UserName"></Attribute>
 <Attribute Name="Users.15#Password"></Attribute>
 <Attribute Name="Users.15#Privilege">0</Attribute>
 <Attribute Name="Users.15#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.15#Enable">Disabled</Attribute>
 <Attribute Name="Users.15#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.15#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.15#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.15#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Users.16#UserName"></Attribute>
 <Attribute Name="Users.16#Password"></Attribute>
 <Attribute Name="Users.16#Privilege">0</Attribute>
 <Attribute Name="Users.16#IpmiLanPrivilege">No Access</Attribute>
 <Attribute Name="Users.16#Enable">Disabled</Attribute>
 <Attribute Name="Users.16#SolEnable">Disabled</Attribute>
 <Attribute Name="Users.16#ProtocolEnable">Disabled</Attribute>
 <Attribute Name="Users.16#AuthenticationProtocol">SHA</Attribute>
 <Attribute Name="Users.16#PrivacyProtocol">AES</Attribute>
 <Attribute Name="Update.1#FwUpdateTFTPEnable">Enabled</Attribute>
 <Attribute Name="Update.1#FwUpdateIPAddr">0.0.0.0</Attribute>
 <Attribute Name="Update.1#FwUpdatePath"></Attribute>
 <Attribute Name="Update.1#EnableSharedCompUpdate">Disabled</Attribute>
 <Attribute Name="EmailAlert.1#Enable">Disabled</Attribute>
 <Attribute Name="EmailAlert.1#Address"></Attribute>
 <Attribute Name="EmailAlert.1#CustomMsg"></Attribute>
 <Attribute Name="EmailAlert.2#Enable">Disabled</Attribute>
 <Attribute Name="EmailAlert.2#Address"></Attribute>
 <Attribute Name="EmailAlert.2#CustomMsg"></Attribute>
 <Attribute Name="EmailAlert.3#Enable">Disabled</Attribute>
 <Attribute Name="EmailAlert.3#Address"></Attribute>
 <Attribute Name="EmailAlert.3#CustomMsg"></Attribute>
 <Attribute Name="EmailAlert.4#Enable">Disabled</Attribute>
 <Attribute Name="EmailAlert.4#Address"></Attribute>
 <Attribute Name="EmailAlert.4#CustomMsg"></Attribute>
 <Attribute Name="Telnet.1#Enable">Disabled</Attribute>
 <Attribute Name="Telnet.1#Port">23</Attribute>
 <Attribute Name="Telnet.1#Timeout">1800</Attribute>
 <Attribute Name="SSH.1#Enable">Enabled</Attribute>
 <Attribute Name="SSH.1#Port">22</Attribute>
 <Attribute Name="SSH.1#Timeout">1800</Attribute>
 <Attribute Name="WebServer.1#Enable">Enabled</Attribute>
 <Attribute Name="WebServer.1#HttpPort">80</Attribute>
 <Attribute Name="WebServer.1#HttpsPort">443</Attribute>
 <Attribute Name="WebServer.1#Timeout">1800</Attribute>
 <Attribute Name="WebServer.1#LowerEncryptionBitLength">Enabled</Attribute>
 <Attribute Name="WebServer.1#HttpsRedirection">Enabled</Attribute>
 <Attribute Name="WebServer.1#SSLEncryptionBitLength">128-Bit or higher</Attribute>
 <Attribute Name="WebServer.1#TLSProtocol">TLS 1.1 and Higher</Attribute>
 <Attribute Name="VirtualConsole.1#Enable">Enabled</Attribute>
 <Attribute Name="VirtualConsole.1#EncryptEnable">AES</Attribute>
 <Attribute Name="VirtualConsole.1#LocalVideo">Enabled</Attribute>
 <Attribute Name="VirtualConsole.1#PluginType">Java</Attribute>
 <Attribute Name="VirtualConsole.1#MaxSessions">6</Attribute>
 <Attribute Name="VirtualConsole.1#Port">5900</Attribute>
 <Attribute Name="VirtualConsole.1#Timeout">1800</Attribute>
 <Attribute Name="VirtualConsole.1#AccessPrivilege">Deny Access</Attribute>
 <Attribute Name="VirtualConsole.1#AttachState">Auto-Attach</Attribute>
 <Attribute Name="Racadm.1#Enable">Enabled</Attribute>
 <Attribute Name="Racadm.1#Timeout">60</Attribute>
 <Attribute Name="SerialRedirection.1#Enable">Enabled</Attribute>
 <Attribute Name="SerialRedirection.1#QuitKey">^\</Attribute>
 <Attribute Name="IPMISOL.1#Enable">Enabled</Attribute>
 <Attribute Name="IPMISOL.1#BaudRate">115200</Attribute>
 <Attribute Name="IPMISOL.1#MinPrivilege">Administrator</Attribute>
 <Attribute Name="IPMISOL.1#AccumulateInterval">10</Attribute>
 <Attribute Name="IPMISOL.1#SendThreshold">255</Attribute>
 <Attribute Name="SNMP.1#AgentEnable">Enabled</Attribute>
 <Attribute Name="SNMP.1#AgentCommunity">public</Attribute>
 <Attribute Name="SNMP.1#TrapFormat">SNMPv1</Attribute>
 <Attribute Name="SNMP.1#SNMPProtocol">All</Attribute>
 <Attribute Name="SNMP.1#DiscoveryPort">161</Attribute>
 <Attribute Name="SNMP.1#AlertPort">162</Attribute>
 <Attribute Name="VirtualMedia.1#Attached">AutoAttach</Attribute>
 <Attribute Name="VirtualMedia.1#BootOnce">Disabled</Attribute>
 <Attribute Name="VirtualMedia.1#KeyEnable">Disabled</Attribute>
 <Attribute Name="VirtualMedia.1#FloppyEmulation">Disabled</Attribute>
 <Attribute Name="VirtualMedia.1#EncryptEnable">AES</Attribute>
 <Attribute Name="VirtualMedia.1#Enable">Enabled</Attribute>
 <Attribute Name="IPBlocking.1#RangeEnable">Disabled</Attribute>
 <Attribute Name="IPBlocking.1#RangeAddr">192.168.1.1</Attribute>
 <Attribute Name="IPBlocking.1#RangeMask">255.255.255.0</Attribute>
 <Attribute Name="LocalSecurity.1#PrebootConfig">Disabled</Attribute>
 <Attribute Name="LocalSecurity.1#LocalConfig">Disabled</Attribute>
 <Attribute Name="Time.1#TimeZoneOffset">0</Attribute>
 <Attribute Name="Time.1#DaylightOffset">0</Attribute>
 <Attribute Name="Time.1#TimeZone">Asia/Kolkata</Attribute>
 <Attribute Name="Security.1#CsrCommonName"></Attribute>
 <Attribute Name="Security.1#CsrOrganizationName"></Attribute>
 <Attribute Name="Security.1#CsrOrganizationUnit"></Attribute>
 <Attribute Name="Security.1#CsrLocalityName"></Attribute>
 <Attribute Name="Security.1#CsrStateName"></Attribute>
 <Attribute Name="Security.1#CsrCountryCode">US</Attribute>
 <Attribute Name="Security.1#CsrEmailAddr"></Attribute>
 <Attribute Name="Security.1#CsrKeySize">2048</Attribute>
 <Attribute Name="ActiveDirectory.1#Enable">Disabled</Attribute>
 <Attribute Name="ActiveDirectory.1#RacName"></Attribute>
 <Attribute Name="ActiveDirectory.1#RacDomain"></Attribute>
 <Attribute Name="ActiveDirectory.1#AuthTimeout">120</Attribute>
 <Attribute Name="ActiveDirectory.1#Schema">Extended Schema</Attribute>
 <Attribute Name="ActiveDirectory.1#DomainController1"></Attribute>
 <Attribute Name="ActiveDirectory.1#DomainController2"></Attribute>
 <Attribute Name="ActiveDirectory.1#DomainController3"></Attribute>
 <Attribute Name="ActiveDirectory.1#GlobalCatalog1"></Attribute>
 <Attribute Name="ActiveDirectory.1#GlobalCatalog2"></Attribute>
 <Attribute Name="ActiveDirectory.1#GlobalCatalog3"></Attribute>
 <Attribute Name="ActiveDirectory.1#CertValidationEnable">Disabled</Attribute>
 <Attribute Name="ActiveDirectory.1#GCLookupEnable">Disabled</Attribute>
 <Attribute Name="ActiveDirectory.1#DCLookupEnable">Disabled</Attribute>
 <Attribute Name="ActiveDirectory.1#GCRootDomain"></Attribute>
 <Attribute Name="ActiveDirectory.1#DCLookupDomainName"></Attribute>
 <Attribute Name="ActiveDirectory.1#DCLookupByUserDomain">Enabled</Attribute>
 <Attribute Name="ActiveDirectory.1#SSOEnable">Disabled</Attribute>
 <Attribute Name="ADGroup.1#Name"></Attribute>
 <Attribute Name="ADGroup.1#Domain"></Attribute>
 <Attribute Name="ADGroup.1#Privilege">0</Attribute>
 <Attribute Name="ADGroup.2#Name"></Attribute>
 <Attribute Name="ADGroup.2#Domain"></Attribute>
 <Attribute Name="ADGroup.2#Privilege">0</Attribute>
 <Attribute Name="ADGroup.3#Name"></Attribute>
 <Attribute Name="ADGroup.3#Domain"></Attribute>
 <Attribute Name="ADGroup.3#Privilege">0</Attribute>
 <Attribute Name="ADGroup.4#Name"></Attribute>
 <Attribute Name="ADGroup.4#Domain"></Attribute>
 <Attribute Name="ADGroup.4#Privilege">0</Attribute>
 <Attribute Name="ADGroup.5#Name"></Attribute>
 <Attribute Name="ADGroup.5#Domain"></Attribute>
 <Attribute Name="ADGroup.5#Privilege">0</Attribute>
 <Attribute Name="UserDomain.1#Name"></Attribute>
 <Attribute Name="UserDomain.2#Name"></Attribute>
 <Attribute Name="UserDomain.3#Name"></Attribute>
 <Attribute Name="UserDomain.4#Name"></Attribute>
 <Attribute Name="UserDomain.5#Name"></Attribute>
 <Attribute Name="UserDomain.6#Name"></Attribute>
 <Attribute Name="UserDomain.7#Name"></Attribute>
 <Attribute Name="UserDomain.8#Name"></Attribute>
 <Attribute Name="UserDomain.9#Name"></Attribute>
 <Attribute Name="UserDomain.10#Name"></Attribute>
 <Attribute Name="UserDomain.11#Name"></Attribute>
 <Attribute Name="UserDomain.12#Name"></Attribute>
 <Attribute Name="UserDomain.13#Name"></Attribute>
 <Attribute Name="UserDomain.14#Name"></Attribute>
 <Attribute Name="UserDomain.15#Name"></Attribute>
 <Attribute Name="UserDomain.16#Name"></Attribute>
 <Attribute Name="UserDomain.17#Name"></Attribute>
 <Attribute Name="UserDomain.18#Name"></Attribute>
 <Attribute Name="UserDomain.19#Name"></Attribute>
 <Attribute Name="UserDomain.20#Name"></Attribute>
 <Attribute Name="UserDomain.21#Name"></Attribute>
 <Attribute Name="UserDomain.22#Name"></Attribute>
 <Attribute Name="UserDomain.23#Name"></Attribute>
 <Attribute Name="UserDomain.24#Name"></Attribute>
 <Attribute Name="UserDomain.25#Name"></Attribute>
 <Attribute Name="UserDomain.26#Name"></Attribute>
 <Attribute Name="UserDomain.27#Name"></Attribute>
 <Attribute Name="UserDomain.28#Name"></Attribute>
 <Attribute Name="UserDomain.29#Name"></Attribute>
 <Attribute Name="UserDomain.30#Name"></Attribute>
 <Attribute Name="UserDomain.31#Name"></Attribute>
 <Attribute Name="UserDomain.32#Name"></Attribute>
 <Attribute Name="UserDomain.33#Name"></Attribute>
 <Attribute Name="UserDomain.34#Name"></Attribute>
 <Attribute Name="UserDomain.35#Name"></Attribute>
 <Attribute Name="UserDomain.36#Name"></Attribute>
 <Attribute Name="UserDomain.37#Name"></Attribute>
 <Attribute Name="UserDomain.38#Name"></Attribute>
 <Attribute Name="UserDomain.39#Name"></Attribute>
 <Attribute Name="UserDomain.40#Name"></Attribute>
 <Attribute Name="SmartCard.1#SmartCardLogonEnable">Disabled</Attribute>
 <Attribute Name="SmartCard.1#SmartCardCRLEnable">Disabled</Attribute>
 <Attribute Name="SysLog.1#SysLogEnable">Disabled</Attribute>
 <Attribute Name="SysLog.1#Port">514</Attribute>
 <Attribute Name="SysLog.1#Server1"></Attribute>
 <Attribute Name="SysLog.1#Server2"></Attribute>
 <Attribute Name="SysLog.1#Server3"></Attribute>
 <Attribute Name="SysLog.1#PowerLogEnable">Disabled</Attribute>
 <Attribute Name="SysLog.1#PowerLogInterval">5</Attribute>
 <Attribute Name="LDAP.1#Enable">Disabled</Attribute>
 <Attribute Name="LDAP.1#Server"></Attribute>
 <Attribute Name="LDAP.1#Port">636</Attribute>
 <Attribute Name="LDAP.1#BaseDN"></Attribute>
 <Attribute Name="LDAP.1#UserAttribute"></Attribute>
 <Attribute Name="LDAP.1#GroupAttribute"></Attribute>
 <Attribute Name="LDAP.1#GroupAttributeIsDN">Enabled</Attribute>
 <Attribute Name="LDAP.1#BindDN"></Attribute>
 <Attribute Name="LDAP.1#BindPassword"></Attribute>
 <Attribute Name="LDAP.1#SearchFilter"></Attribute>
 <Attribute Name="LDAP.1#CertValidationEnable">Enabled</Attribute>
 <Attribute Name="LDAPRoleGroup.1#DN"></Attribute>
 <Attribute Name="LDAPRoleGroup.1#Privilege">0</Attribute>
 <Attribute Name="LDAPRoleGroup.2#DN"></Attribute>
 <Attribute Name="LDAPRoleGroup.2#Privilege">0</Attribute>
 <Attribute Name="LDAPRoleGroup.3#DN"></Attribute>
 <Attribute Name="LDAPRoleGroup.3#Privilege">0</Attribute>
 <Attribute Name="LDAPRoleGroup.4#DN"></Attribute>
 <Attribute Name="LDAPRoleGroup.4#Privilege">0</Attribute>
 <Attribute Name="LDAPRoleGroup.5#DN"></Attribute>
 <Attribute Name="LDAPRoleGroup.5#Privilege">0</Attribute>
 <Attribute Name="RemoteHosts.1#SMTPServerIPAddress">0.0.0.0</Attribute>
 <Attribute Name="RemoteHosts.1#SMTPPort">25</Attribute>
 <Attribute Name="RemoteHosts.1#SMTPAuthentication">Disabled</Attribute>
 <Attribute Name="RemoteHosts.1#SMTPUserName"></Attribute>
 <Attribute Name="RemoteHosts.1#SMTPPassword"></Attribute>
 <Attribute Name="OS-BMC.1#AdminState">Disabled</Attribute>
 <Attribute Name="OS-BMC.1#OsIpAddress">0.0.0.0</Attribute>
 <Attribute Name="OS-BMC.1#PTMode">usb-p2p</Attribute>
 <Attribute Name="OS-BMC.1#UsbNicIpAddress">169.254.0.1</Attribute>
 <Attribute Name="NIC.1#Enable">Enabled</Attribute>
 <Attribute Name="NIC.1#Selection">Dedicated</Attribute>
 <Attribute Name="NIC.1#Failover">None</Attribute>
 <Attribute Name="NIC.1#MTU">1500</Attribute>
 <!--  <Attribute Name="NIC.1#DNSRacName">idrac-2P5N082</Attribute>
-->
 <Attribute Name="NIC.1#DNSRegister">Disabled</Attribute>
 <Attribute Name="NIC.1#VLanEnable">Disabled</Attribute>
 <Attribute Name="NIC.1#VLanPriority">0</Attribute>
 <Attribute Name="NIC.1#VLanID">1</Attribute>
 <Attribute Name="NIC.1#AutoConfig">Disabled</Attribute>
 <Attribute Name="NIC.1#AutoDedicatedNIC">Disabled</Attribute>
 <Attribute Name="IPv4.1#Enable">Enabled</Attribute>
 <Attribute Name="IPv4.1#DHCPEnable">Disabled</Attribute>
 <Attribute Name="IPv6.1#Enable">Disabled</Attribute>
 <Attribute Name="IPv6.1#AutoConfig">Enabled</Attribute>
 <!--  <Attribute Name="NICStatic.1#DNSDomainName"></Attribute>
-->
 <Attribute Name="NICStatic.1#DNSDomainFromDHCP">Disabled</Attribute>
 <Attribute Name="IPv4Static.1#Address">100.96.25.121</Attribute>
 <Attribute Name="IPv4Static.1#Netmask">255.255.254.0</Attribute>
 <Attribute Name="IPv4Static.1#Gateway">100.96.24.1</Attribute>
 <Attribute Name="IPv4Static.1#DNS1">10.8.8.8</Attribute>
 <Attribute Name="IPv4Static.1#DNS2">10.7.7.7</Attribute>
 <Attribute Name="IPv4Static.1#DNSFromDHCP">Disabled</Attribute>
 <Attribute Name="IPv6Static.1#Address1">::</Attribute>
 <Attribute Name="IPv6Static.1#Gateway">::</Attribute>
 <Attribute Name="IPv6Static.1#PrefixLength">64</Attribute>
 <Attribute Name="IPv6Static.1#DNS1">::</Attribute>
 <Attribute Name="IPv6Static.1#DNS2">::</Attribute>
 <Attribute Name="IPv6Static.1#DNSFromDHCP6">Disabled</Attribute>
 <Attribute Name="SNMPAlert.1#Destination">100.100.17.75</Attribute>
 <Attribute Name="SNMPAlert.1#State">Enabled</Attribute>
 <Attribute Name="SNMPAlert.1#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.2#Destination">100.96.18.253</Attribute>
 <Attribute Name="SNMPAlert.2#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.2#State">Enabled</Attribute>
 <Attribute Name="SNMPAlert.3#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.3#Destination">omisc.trap.host</Attribute>
 <Attribute Name="SNMPAlert.3#State">Enabled</Attribute>
 <Attribute Name="SNMPAlert.4#Destination">100.96.20.115</Attribute>
 <Attribute Name="SNMPAlert.4#State">Disabled</Attribute>
 <Attribute Name="SNMPAlert.4#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.5#Destination">::</Attribute>
 <Attribute Name="SNMPAlert.5#State">Disabled</Attribute>
 <Attribute Name="SNMPAlert.5#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.6#Destination">::</Attribute>
 <Attribute Name="SNMPAlert.6#State">Disabled</Attribute>
 <Attribute Name="SNMPAlert.6#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.7#Destination">::</Attribute>
 <Attribute Name="SNMPAlert.7#State">Disabled</Attribute>
 <Attribute Name="SNMPAlert.7#SNMPv3Username"></Attribute>
 <Attribute Name="SNMPAlert.8#Destination">::</Attribute>
 <Attribute Name="SNMPAlert.8#State">Disabled</Attribute>
 <Attribute Name="SNMPAlert.8#SNMPv3Username"></Attribute>
 <Attribute Name="DefaultCredentialMitigationConfigGroup.1#DefaultCredentialMitigation">Enabled</Attribute>
 <Attribute Name="NTPConfigGroup.1#NTP1">143.166.255.32</Attribute>
 <Attribute Name="NTPConfigGroup.1#NTP2"></Attribute>
 <Attribute Name="NTPConfigGroup.1#NTP3"></Attribute>
 <Attribute Name="NTPConfigGroup.1#NTPEnable">Enabled</Attribute>
 <Attribute Name="NTPConfigGroup.1#NTPMaxDist">16</Attribute>
 <Attribute Name="AutoOSLockGroup.1#AutoOSLockState">Enabled</Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrCommonName"></Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrBusiness"></Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrDeptName"></Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrCityName"></Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrStateName"></Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrCountryCode"></Attribute>
 <Attribute Name="SecurityCSC.1#CSCCsrEmailAddr"></Attribute>
 <Attribute Name="Logging.1#SELOEMEventFilterEnable">Disabled</Attribute>
 <Attribute Name="IOIDOpt.1#IOIDOptEnable">Disabled</Attribute>
 <!--  <Attribute Name="IOIDOpt.1#VirtualAddressPersistencePolicyNonAuxPwrd">WarmReset</Attribute>
-->
 <!--  <Attribute Name="IOIDOpt.1#VirtualAddressPersistencePolicyAuxPwrd">WarmReset, ColdReset</Attribute>
-->
 <!--  <Attribute Name="IOIDOpt.1#InitiatorPersistencePolicy">WarmReset, ColdReset, ACPowerLoss</Attribute>
-->
 <!--  <Attribute Name="IOIDOpt.1#StorageTargetPersistencePolicy">WarmReset, ColdReset, ACPowerLoss</Attribute>
-->
 <Attribute Name="ServiceModule.1#OSInfo">Enabled</Attribute>
 <Attribute Name="ServiceModule.1#WatchdogState">Disabled</Attribute>
 <Attribute Name="ServiceModule.1#WatchdogResetTime">480</Attribute>
 <Attribute Name="ServiceModule.1#WatchdogRecoveryAction">None</Attribute>
 <Attribute Name="ServiceModule.1#LCLReplication">Disabled</Attribute>
 <Attribute Name="ServiceModule.1#WMIInfo">Disabled</Attribute>
 <Attribute Name="ServiceModule.1#ServiceModuleEnable">Enabled</Attribute>
 <Attribute Name="ServiceModule.1#iDRACHardReset">Enabled</Attribute>
 <Attribute Name="VNCServer.1#Enable">Disabled</Attribute>
 <Attribute Name="VNCServer.1#Password"></Attribute>
 <Attribute Name="VNCServer.1#Port">5901</Attribute>
 <Attribute Name="VNCServer.1#LowerEncryptionBitLength">Disabled</Attribute>
 <Attribute Name="VNCServer.1#Timeout">300</Attribute>
 <Attribute Name="VNCServer.1#SSLEncryptionBitLength">Disabled</Attribute>
 <Attribute Name="vFlashSD.1#Enable">Disabled</Attribute>
 <Attribute Name="ServerBoot.1#FirstBootDevice">Normal</Attribute>
 <Attribute Name="ServerBoot.1#BootOnce">Enabled</Attribute>
 <Attribute Name="USB.1#ManagementPortMode">Automatic</Attribute>
 <Attribute Name="USB.1#ConfigurationXML">Enabled while server has default credential settings only</Attribute>
 <Attribute Name="ASRConfig.1#Enable">Disabled</Attribute>
 <Attribute Name="DCSCustom.1#CustomUI">DefaultUI</Attribute>
 <Attribute Name="Redfish.1#Enable">Enabled</Attribute>
 <Attribute Name="RedfishEventing.1#DeliveryRetryAttempts">3</Attribute>
 <Attribute Name="RedfishEventing.1#DeliveryRetryIntervalInSeconds">30</Attribute>
 <!--  <Attribute Name="AutoBackup.1#IPAddress"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#Domain"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#ShareName"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#ShareType"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#Username"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#Password">******</Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#Repeat"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#Time"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#DayofMonth"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#WeekofMonth"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#DayOfWeek"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#ImageName"></Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#Passphrase">******</Attribute>
-->
 <!--  <Attribute Name="AutoBackup.1#MaxNumberOfBackupArchives"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#IPAddress"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#Domain"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ShareName"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ShareType"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#Username"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#Password">******</Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ApplyReboot"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#Repeat"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#CatalogName"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#Time"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#DayofMonth"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#WeekofMonth"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#DayOfWeek"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ProxyHostname"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ProxyUsername"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ProxyPassword">******</Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ProxyPort"></Attribute>
-->
 <!--  <Attribute Name="AutoUpdate.1#ProxyType"></Attribute>
-->
</Component>

<Component FQDD="RAID.Embedded.1-1">
    <Attribute Name="RAIDresetConfig">False</Attribute>
    <Attribute Name="RAIDforeignConfig">Clear</Attribute>
    <Component FQDD="Disk.Virtual.262145:RAID.Embedded.1-1">
        <Attribute Name="RAIDaction">CreateAuto</Attribute>
        <Attribute Name="Name">Virtual Disk 1</Attribute>
        <Attribute Name="Size">199437058048</Attribute>
        <Attribute Name="StripeSize">128</Attribute>
        <!-- <Attribute Name="SpanDepth">1</Attribute> -->
        <!-- <Attribute Name="SpanLength">1</Attribute> -->
        <Attribute Name="RAIDTypes">Volume</Attribute>
        <!-- <Attribute Name="IncludedPhysicalDiskID">Disk.Direct.0-0:RAID.Embedded.1-1</Attribute> -->
    </Component>
    <Component FQDD="Disk.Direct.0-0:RAID.Embedded.1-1">
        <Attribute Name="RAIDHotSpareStatus">No</Attribute>
        <Attribute Name="RAIDPDState">Online</Attribute>
    </Component>
</Component>

<Component FQDD="NIC.Embedded.1-1-1">
    <Attribute Name="BlnkLeds">0</Attribute>
    <!-- <Attribute Name="VirtMacAddr">D0:43:1E:BC:C8:AF</Attribute> -->
    <!-- <Attribute Name="VirtIscsiMacAddr">D0:43:1E:BC:C8:B0</Attribute> -->
    <!-- <Attribute Name="VirtFIPMacAddr">D0:43:1E:BC:C8:B1</Attribute> -->
    <!-- <Attribute Name="VirtWWN">20:00:D0:43:1E:BC:C8:B1</Attribute> -->
    <!-- <Attribute Name="VirtWWPN">20:01:D0:43:1E:BC:C8:B1</Attribute> -->
    <Attribute Name="TcpIpViaDHCP">Enabled</Attribute>
    <!-- <Attribute Name="IpAutoConfig">Enabled</Attribute> -->
    <Attribute Name="IscsiViaDHCP">Disabled</Attribute>
    <Attribute Name="ChapAuthEnable">Disabled</Attribute>
    <Attribute Name="IscsiTgtBoot">Enabled</Attribute>
    <Attribute Name="DhcpVendId">QLGC ISAN</Attribute>
    <Attribute Name="LnkUpDelayTime">0</Attribute>
    <Attribute Name="TcpTimestmp">Disabled</Attribute>
    <Attribute Name="FirstHddTarget">Disabled</Attribute>
    <Attribute Name="LunBusyRetryCnt">0</Attribute>
    <Attribute Name="IpVer">IPv4</Attribute>
    <Attribute Name="WinHbaBootMode">Disabled</Attribute>
    <!-- <Attribute Name="IscsiInitiatorIpAddr">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorSubnet">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorSubnetPrefix">64</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorGateway">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorPrimDns">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorSecDns">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorName">iqn.1995-05.com.qlogic.iscsiboot</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorChapId"></Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorChapPwd"></Attribute> -->
    <!-- <Attribute Name="ConnectFirstTgt">Disabled</Attribute> -->
    <!-- <Attribute Name="FirstTgtIpAddress">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="FirstTgtTcpPort">3260</Attribute> -->
    <!-- <Attribute Name="FirstTgtBootLun">0</Attribute> -->
    <!-- <Attribute Name="FirstTgtIscsiName"></Attribute> -->
    <!-- <Attribute Name="FirstTgtChapId"></Attribute> -->
    <!-- <Attribute Name="FirstTgtChapPwd"></Attribute> -->
    <!-- <Attribute Name="ConnectSecondTgt">Disabled</Attribute> -->
    <!-- <Attribute Name="SecondTgtIpAddress">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="SecondTgtTcpPort">3260</Attribute> -->
    <!-- <Attribute Name="SecondTgtBootLun">0</Attribute> -->
    <!-- <Attribute Name="SecondTgtIscsiName"></Attribute> -->
    <!-- <Attribute Name="SecondTgtChapId"></Attribute> -->
    <!-- <Attribute Name="SecondTgtChapPwd"></Attribute> -->
    <Attribute Name="BootOptionROM">Enabled</Attribute>
    <Attribute Name="LegacyBootProto">PXE</Attribute>
    <Attribute Name="BootStrapType">AutoDetect</Attribute>
    <Attribute Name="HideSetupPrompt">Disabled</Attribute>
    <Attribute Name="BannerMessageTimeout">5</Attribute>
    <Attribute Name="LnkSpeed">AutoNeg</Attribute>
    <Attribute Name="WakeOnLan">Disabled</Attribute>
    <Attribute Name="VLanMode">Disabled</Attribute>
    <!-- <Attribute Name="VLanId">1</Attribute> -->
    <Attribute Name="BootRetryCnt">NoRetry</Attribute>
    <!-- <Attribute Name="SecondaryDeviceMacAddr">00:00:00:00:00:00</Attribute> -->
    <!-- <Attribute Name="UseIndTgtPortal">Disabled</Attribute> -->
    <!-- <Attribute Name="UseIndTgtName">Disabled</Attribute> -->
    <Attribute Name="VirtualizationMode">NONE</Attribute>
    <!-- <Attribute Name="FlowControlSetting">Auto</Attribute> -->
    <Attribute Name="NicPartitioning">Disabled</Attribute>
    <Attribute Name="FCoETgtBoot">Enabled</Attribute>
    <Attribute Name="FCoEFirstHddTarget">Disabled</Attribute>
    <Attribute Name="FCoELnkUpDelayTime">0</Attribute>
    <Attribute Name="FCoELunBusyRetryCnt">0</Attribute>
    <Attribute Name="FCoEFabricDiscoveryRetryCnt">4</Attribute>
    <!-- <Attribute Name="ConnectFirstFCoETarget">Disabled</Attribute> -->
    <!-- <Attribute Name="FirstFCoEWWPNTarget">00:00:00:00:00:00:00:00</Attribute> -->
    <!-- <Attribute Name="FirstFCoEBootTargetLUN">0</Attribute> -->
</Component>
<Component FQDD="NIC.Embedded.2-1-1">
    <Attribute Name="BlnkLeds">0</Attribute>
    <!-- <Attribute Name="VirtMacAddr">D0:43:1E:BC:C8:B2</Attribute> -->
    <!-- <Attribute Name="VirtIscsiMacAddr">D0:43:1E:BC:C8:B3</Attribute> -->
    <!-- <Attribute Name="VirtFIPMacAddr">D0:43:1E:BC:C8:B4</Attribute> -->
    <!-- <Attribute Name="VirtWWN">20:00:D0:43:1E:BC:C8:B4</Attribute> -->
    <!-- <Attribute Name="VirtWWPN">20:01:D0:43:1E:BC:C8:B4</Attribute> -->
    <Attribute Name="TcpIpViaDHCP">Enabled</Attribute>
    <!-- <Attribute Name="IpAutoConfig">Enabled</Attribute> -->
    <Attribute Name="IscsiViaDHCP">Disabled</Attribute>
    <Attribute Name="ChapAuthEnable">Disabled</Attribute>
    <Attribute Name="IscsiTgtBoot">Enabled</Attribute>
    <Attribute Name="DhcpVendId">QLGC ISAN</Attribute>
    <Attribute Name="LnkUpDelayTime">0</Attribute>
    <Attribute Name="TcpTimestmp">Disabled</Attribute>
    <Attribute Name="FirstHddTarget">Disabled</Attribute>
    <Attribute Name="LunBusyRetryCnt">0</Attribute>
    <Attribute Name="IpVer">IPv4</Attribute>
    <Attribute Name="WinHbaBootMode">Disabled</Attribute>
    <!-- <Attribute Name="IscsiInitiatorIpAddr">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorSubnet">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorSubnetPrefix">64</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorGateway">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorPrimDns">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorSecDns">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorName">iqn.1995-05.com.qlogic.iscsiboot</Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorChapId"></Attribute> -->
    <!-- <Attribute Name="IscsiInitiatorChapPwd"></Attribute> -->
    <!-- <Attribute Name="ConnectFirstTgt">Disabled</Attribute> -->
    <!-- <Attribute Name="FirstTgtIpAddress">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="FirstTgtTcpPort">3260</Attribute> -->
    <!-- <Attribute Name="FirstTgtBootLun">0</Attribute> -->
    <!-- <Attribute Name="FirstTgtIscsiName"></Attribute> -->
    <!-- <Attribute Name="FirstTgtChapId"></Attribute> -->
    <!-- <Attribute Name="FirstTgtChapPwd"></Attribute> -->
    <!-- <Attribute Name="ConnectSecondTgt">Disabled</Attribute> -->
    <!-- <Attribute Name="SecondTgtIpAddress">0.0.0.0</Attribute> -->
    <!-- <Attribute Name="SecondTgtTcpPort">3260</Attribute> -->
    <!-- <Attribute Name="SecondTgtBootLun">0</Attribute> -->
    <!-- <Attribute Name="SecondTgtIscsiName"></Attribute> -->
    <!-- <Attribute Name="SecondTgtChapId"></Attribute> -->
    <!-- <Attribute Name="SecondTgtChapPwd"></Attribute> -->
    <Attribute Name="BootOptionROM">Enabled</Attribute>
    <Attribute Name="LegacyBootProto">NONE</Attribute>
    <Attribute Name="BootStrapType">AutoDetect</Attribute>
    <Attribute Name="HideSetupPrompt">Disabled</Attribute>
    <Attribute Name="BannerMessageTimeout">5</Attribute>
    <Attribute Name="LnkSpeed">AutoNeg</Attribute>
    <Attribute Name="WakeOnLan">Disabled</Attribute>
    <Attribute Name="VLanMode">Disabled</Attribute>
    <!-- <Attribute Name="VLanId">1</Attribute> -->
    <Attribute Name="BootRetryCnt">NoRetry</Attribute>
    <!-- <Attribute Name="SecondaryDeviceMacAddr">00:00:00:00:00:00</Attribute> -->
    <!-- <Attribute Name="UseIndTgtPortal">Disabled</Attribute> -->
    <!-- <Attribute Name="UseIndTgtName">Disabled</Attribute> -->
    <Attribute Name="VirtualizationMode">NONE</Attribute>
    <!-- <Attribute Name="FlowControlSetting">Auto</Attribute> -->
    <Attribute Name="NicPartitioning">Disabled</Attribute>
    <Attribute Name="FCoETgtBoot">Enabled</Attribute>
    <Attribute Name="FCoEFirstHddTarget">Disabled</Attribute>
    <Attribute Name="FCoELnkUpDelayTime">0</Attribute>
    <Attribute Name="FCoELunBusyRetryCnt">0</Attribute>
    <Attribute Name="FCoEFabricDiscoveryRetryCnt">4</Attribute>
    <!-- <Attribute Name="ConnectFirstFCoETarget">Disabled</Attribute> -->
    <!-- <Attribute Name="FirstFCoEWWPNTarget">00:00:00:00:00:00:00:00</Attribute> -->
    <!-- <Attribute Name="FirstFCoEBootTargetLUN">0</Attribute> -->
</Component>

<Component FQDD="BIOS.Setup.1-1">
    <Attribute Name="WorkloadProfile">NotAvailable</Attribute>
    <Attribute Name="MemTest">Disabled</Attribute>
    <Attribute Name="MemOpMode">OptimizerMode</Attribute>
    <Attribute Name="NodeInterleave">Disabled</Attribute>
    <Attribute Name="SnoopMode">EarlySnoop</Attribute>
    <Attribute Name="CorrEccSmi">Enabled</Attribute>
    <Attribute Name="QpiSpeed">MaxDataRate</Attribute>
    <Attribute Name="RtidSetting">Disabled</Attribute>
    <Attribute Name="ProcVirtualization">Enabled</Attribute>
    <Attribute Name="ProcAts">Enabled</Attribute>
    <Attribute Name="ProcAdjCacheLine">Enabled</Attribute>
    <Attribute Name="ProcHwPrefetcher">Enabled</Attribute>
    <Attribute Name="DcuStreamerPrefetcher">Enabled</Attribute>
    <Attribute Name="DcuIpPrefetcher">Enabled</Attribute>
    <Attribute Name="ProcExecuteDisable">Enabled</Attribute>
    <Attribute Name="DynamicCoreAllocation">Disabled</Attribute>
    <Attribute Name="ProcConfigTdp">Nominal</Attribute>
    <Attribute Name="ProcX2Apic">Disabled</Attribute>
    <Attribute Name="ProcCores">All</Attribute>
    <Attribute Name="EmbSata">RaidMode</Attribute>
    <!-- <Attribute Name="SecurityFreezeLock">Disabled</Attribute> -->
    <!-- <Attribute Name="WriteCache">Disabled</Attribute> -->
    <!-- <Attribute Name="SataPortA">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortB">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortC">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortD">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortE">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortF">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortG">Auto</Attribute> -->
    <!-- <Attribute Name="SataPortH">Auto</Attribute> -->
    <Attribute Name="BootMode">Bios</Attribute>
    <Attribute Name="BootSeqRetry">Enabled</Attribute>
    <Attribute Name="HddFailover">Enabled</Attribute>
    <Attribute Name="SetBootOrderFqdd1"></Attribute>
    <Attribute Name="SetBootOrderFqdd2"></Attribute>
    <Attribute Name="SetBootOrderFqdd3"></Attribute>
    <Attribute Name="SetBootOrderFqdd4"></Attribute>
    <Attribute Name="SetBootOrderFqdd5"></Attribute>
    <Attribute Name="SetBootOrderFqdd6"></Attribute>
    <Attribute Name="SetBootOrderFqdd7"></Attribute>
    <Attribute Name="SetBootOrderFqdd8"></Attribute>
    <Attribute Name="SetBootOrderFqdd9"></Attribute>
    <Attribute Name="SetBootOrderFqdd10"></Attribute>
    <Attribute Name="SetBootOrderFqdd11"></Attribute>
    <Attribute Name="SetBootOrderFqdd12"></Attribute>
    <Attribute Name="SetBootOrderFqdd13"></Attribute>
    <Attribute Name="SetBootOrderFqdd14"></Attribute>
    <Attribute Name="SetBootOrderFqdd15"></Attribute>
    <Attribute Name="SetBootOrderFqdd16"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd1"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd2"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd3"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd4"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd5"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd6"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd7"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd8"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd9"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd10"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd11"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd12"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd13"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd14"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd15"></Attribute>
    <Attribute Name="SetLegacyHddOrderFqdd16"></Attribute>
    <Attribute Name="Usb3Setting">Disabled</Attribute>
    <Attribute Name="UsbPorts">AllOn</Attribute>
    <Attribute Name="EmbNic1Nic2">Enabled</Attribute>
    <Attribute Name="IoatEngine">Disabled</Attribute>
    <Attribute Name="IoNonPostedPrefetch">Disabled</Attribute>
    <Attribute Name="SnoopHldOff">Roll256Cycles</Attribute>
    <Attribute Name="EmbVideo">Enabled</Attribute>
    <Attribute Name="SriovGlobalEnable">Disabled</Attribute>
    <Attribute Name="InternalSdCard">On</Attribute>
    <Attribute Name="InternalSdCardRedundancy">Mirror</Attribute>
    <Attribute Name="InternalSdCardPrimaryCard">SdCard1</Attribute>
    <Attribute Name="OsWatchdogTimer">Disabled</Attribute>
    <Attribute Name="MmioAbove4Gb">Enabled</Attribute>
    <Attribute Name="GlobalSlotDriverDisable">Disabled</Attribute>
    <Attribute Name="Slot1">Enabled</Attribute>
    <Attribute Name="SerialComm">Off</Attribute>
    <Attribute Name="SerialPortAddress">Com1</Attribute>
    <Attribute Name="FailSafeBaud">115200</Attribute>
    <Attribute Name="ConTermType">Vt100Vt220</Attribute>
    <Attribute Name="RedirAfterBoot">Enabled</Attribute>
    <Attribute Name="SysProfile">PerfPerWattOptimizedDapc</Attribute>
    <!-- <Attribute Name="ProcPwrPerf">SysDbpm</Attribute> -->
    <!-- <Attribute Name="MemFrequency">MaxPerf</Attribute> -->
    <!-- <Attribute Name="ProcC1E">Enabled</Attribute> -->
    <!-- <Attribute Name="ProcCStates">Enabled</Attribute> -->
    <!-- <Attribute Name="CollaborativeCpuPerfCtrl">Disabled</Attribute> -->
    <!-- <Attribute Name="MemPatrolScrub">Standard</Attribute> -->
    <!-- <Attribute Name="MemRefreshRate">1x</Attribute> -->
    <!-- <Attribute Name="UncoreFrequency">DynamicUFS</Attribute> -->
    <!-- <Attribute Name="EnergyPerformanceBias">BalancedPerformance</Attribute> -->
    <!-- <Attribute Name="MonitorMwait">Enabled</Attribute> -->
    <Attribute Name="PowerSaver">Disabled</Attribute>
    <!-- <Attribute Name="OldSysPassword">******</Attribute> -->
    <!-- <Attribute Name="NewSysPassword">******</Attribute> -->
    <!-- <Attribute Name="OldSetupPassword">******</Attribute> -->
    <!-- <Attribute Name="NewSetupPassword">******</Attribute> -->
    <Attribute Name="PasswordStatus">Unlocked</Attribute>
    <!-- <Attribute Name="IntelTxt">Off</Attribute> -->
    <Attribute Name="PwrButton">Enabled</Attribute>
    <Attribute Name="AcPwrRcvry">Last</Attribute>
    <Attribute Name="UefiVariableAccess">Standard</Attribute>
    <!-- <Attribute Name="SecureBoot">Disabled</Attribute> -->
    <!-- <Attribute Name="SecureBootPolicy">Standard</Attribute> -->
    <!-- <Attribute Name="AssetTag"></Attribute> -->
    <Attribute Name="NumLock">On</Attribute>
    <Attribute Name="ErrPrompt">Enabled</Attribute>
    <Attribute Name="ForceInt10">Disabled</Attribute>
    <Attribute Name="InSystemCharacterization">FastBoot</Attribute>
    <Attribute Name="BiosBootSeq">HardDisk.List.1-1, NIC.Embedded.1-1-1, Unknown.Unknown.1-1, Unknown.Unknown.2-1</Attribute>
    <Attribute Name="HddSeq">Disk.SDInternal.1-1, RAID.Embedded.1-1</Attribute>
    <!-- <Attribute Name="OneTimeBiosBootSeq"></Attribute> -->
    <!-- <Attribute Name="OneTimeUefiBootSeq"></Attribute> -->
    <!-- <Attribute Name="OneTimeHddSeq"></Attribute> -->
</Component>

</SystemConfiguration>
